*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-navbar {
    background-color: #353A40;
}

.bg-main {
    background-image:url(img/ba1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.mask{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
}

.item {
    text-align: right;
    width: 600px;
    padding: 3rem;
    color: rgb(255, 255, 255);
    margin: 6px;
}

.flex-end {
    justify-content: flex-end;
    align-content: center;
}

.cards-container {
    width: 90%;
    height: 600px;
}

.card-text{
    font-size: 0.7em;
}

.decoration{
    text-decoration: underline;
    text-decoration-style: dotted;
}

form > p {
    font-size: 12px;
    color: #606060; 
}

footer {
    background-color: #1D4B65;
    color: white;
    height: 65px;
    font-size: 13px;
}


@media screen and (min-width: 320px) and (max-width: 560px) {
    h1{
        font-size: 25px;
    }

    p {
        font-size: 12px;
    }

    .card-text {
        font-size: 12px ;
    }

    .button {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }

}

@media screen and (min-width: 560px) and (max-width: 768px) {
    p {
        font-size: 14px ;
    }

    .card-text {
        font-size: 14px;
    }

    .button {
        width: 135px;
        height: 35px;
        font-size: 14px;
    }
}

